@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  --tw-bg-opacity: 10;
  /* background-color: rgb(30 58 138/ var(--tw-bg-opacity)); */
  background-color: rgb(17 24 39 / var(--tw-bg-opacity));
  /* bg-white dark:bg-slate-900 */
  /* background-color: #1e293b; */
}

.table-container {
  height: 400px; /* Set the desired fixed height */
  overflow: auto;
}
